<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <header>
        <div class="container">
            <a href="/" class="brand">안전점검관리시스템</a>
            <ul class="menu" id="menu">
                <li class="menu-item">
                    <a href="/contact-us">
                        <i class="fas fa-envelope"></i>Login
                    </a>
                </li>
            </ul>

            <div class="burger" id="burger" onclick="toggleMobile()">
                <i class="fas fa-bars" id="menu-icon"></i>
            </div>
        </div>
    </header>
</th:block>
</html>
