<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
    <header>
        <div class="container">
            <a href="/" class="brand">안전점검관리시스템</a>
            <ul class="menu" id="menu">
                <li class="menu-item" th:if="${session.loginUser == null}">
                    <a href="/login/loginForm">
                        <i class="fas fa-envelope"></i>Login
                    </a>
                </li>
                <li class="menu-item" th:if="${session.loginUser != null}">
                    <p th:text="${session.loginUser.userNm1 + ' ' + session.loginUser.userNm2 + ' ' + session.loginUser.userNm3}">사용자이름</p>
                    <a href="/logout">
                        <i class="fas fa-envelope"></i>Loout
                    </a>
                </li>
            </ul>

            <div class="burger" id="burger" onclick="toggleMobile()">
                <i class="fas fa-bars" id="menu-icon"></i>
            </div>
        </div>
    </header>
</th:block>
</html>
