<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>안전점검관리시스템</title>
<th:bloc th:replace="layout/config::config"></th:bloc>
</head>
<body>
	<div class="wrapper">
        <div class="wrap">
			<th:bloc th:replace="layout/header::header"></th:bloc>
			<div class="development">
				<th:bloc layout:fragment="content"></th:bloc>
			</div>
		</div>
		
		<th:bloc th:replace="layout/footer::footer"></th:bloc>
	</div>
</body>
</html>